### Model Results

###### prefix:
monetary = avg_customer loan amount
recency = days since customer last loan
frequency = number of loans customer has taken

##### format: 
[Model used] (parameter - if any) {f1-score, precision, recall}
feature importance(top10):

- starter logistic regressor {0.26, 0.16, 0.8}
lender_portion_to_be_repaid, amount_funded, loan_type, amount_to_repay, tbl_loan

- base lr {0.44, 0.28, 0.96}
loan type, pct_repay, lender id, lender portion to repay, loan type

- dec tree {0.83, 0.83, 0.83}
pct repay, lender portion to be repaid, inflation, loan type, monetary, dis_day_of_year

- rf {0.85, 0.94, 0.78}
pct repay, lender portion, inflation, loan type, monetary, dis_day_of_year

- xgb {0.87, 0.92, 0.83}
loan type, pct repay, unemployment rate, dis_year

lgb {0.85, 0.79, 0.92}
pct repay, frequency, dis_day_of_year, recency, duration, lender portion funded

knn {0.70, 0.56, 0.92}

voting_clf (est={rf:2, lgb:1, lr:1}, voting=soft) {0.88, 0.88, 0.89}
lender portion to be repaid, monetary, recency, dis_day_of_year, pct repay, dis_day_of_month

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.metrics import ConfusionMatrixDisplay
from sklearn.metrics import f1_score, roc_auc_score
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import RandomForestClassifier

from xgboost import XGBClassifier

import warnings
warnings.filterwarnings('ignore')

In [3]:
train_data = pd.read_csv('train_processed.csv')
test_data = pd.read_csv('test_processed.csv')

In [4]:
df = pd.concat([train_data, test_data])

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 87248 entries, 0 to 18593
Data columns (total 29 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           87248 non-null  object
 1   customer_id                  87248 non-null  int64
 2   country_id                   87248 non-null  object
 3   tbl_loan_id                  87248 non-null  int64
 4   lender_id                    87248 non-null  object
 5   loan_type                    87248 non-null  object
 6   total_amount                 87248 non-null  float64
 7   total_amount_to_repay        87248 non-null  float64
 8   disbursement_date            87248 non-null  object
 9   due_date                     87248 non-null  object
 10  duration                     87248 non-null  int64
 11  new_versus_repeat            87248 non-null  int64
 12  amount_funded_by_lender      87248 non-null  float64
 13  lender_portion_funded        87248 non-null  float64
 14  lender_portion_to_be_repaid  87248 non-null  float64
 15  target                       68654 non-null  float64
 16  dis_year                     87248 non-null  int64
 17  dis_month                    87248 non-null  int64
 18  dis_day                      87248 non-null  int64
 19  dis_day_of_week              87248 non-null  int64
 20  dis_day_of_yea               87248 non-null  int64
 21  due_year                     87248 non-null  int64
 22  due_month                    87248 non-null  int64
 23  due_day                      87248 non-null  int64
 24  due_day_of_week              87248 non-null  int64
 25  due_day_of_year              87248 non-null  int64
 26  binned_lender_portion        87248 non-null  object
 27  binned_duration              87248 non-null  object
 28  pct_repay                    87248 non-null  float64
dtypes: float64(7), int64(14), object(8)
memory usage: 20.0+ MB

In [24]:
df.describe(include='all')

,id,customer_id,country_id,tbl_loan_id,lender_id,loan_type,total_amount,total_amount_to_repay,disbursement_date,due_date,...,due_month,due_day,due_day_of_week,due_day_of_year,binned_lender_portion,binned_duration,pct_repay,monetary,recency,frequency
count,87248,87248.000000,87248,87248.000000,87248,87248,8.724800e+04,8.724800e+04,87248,87248,...,87248.000000,87248.000000,87248.000000,87248.000000,87248,87248,87248.000000,8.724800e+04,87248,87248.000000
unique,87248,NaN,2,NaN,8,24,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,27,14,NaN,NaN,NaN,NaN
top,ID_257604246395267278,NaN,Kenya,NaN,lender_A,B,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"(0.273, 0.311]","(-0.095, 37.5]",NaN,NaN,NaN,NaN
freq,1,NaN,83723,NaN,78874,75341,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,51559,85805,NaN,NaN,NaN,NaN
mean,NaN,256116.341761,NaN,267182.282539,NaN,NaN,1.475760e+04,1.567067e+04,2022-10-15 10:11:16.031542528,2022-10-25 00:45:40.106363648,...,8.950486,15.967266,2.557147,257.150697,NaN,NaN,1.023385,4.116875e+05,694 days 05:33:13.764900056,31.703214
min,NaN,145.000000,NaN,101323.000000,NaN,NaN,2.000000e+00,0.000000e+00,2021-10-04 00:00:00,2021-10-21 00:00:00,...,1.000000,1.000000,0.000000,1.000000,NaN,NaN,0.000000,3.000000e+01,0 days 00:00:00,1.000000
25%,NaN,249194.000000,NaN,235931.750000,NaN,NaN,2.259000e+03,2.291000e+03,2022-08-08 00:00:00,2022-08-17 00:00:00,...,8.000000,8.000000,1.000000,222.000000,NaN,NaN,1.000000,5.632700e+04,717 days 00:00:00,13.000000
50%,NaN,256357.000000,NaN,262505.500000,NaN,NaN,5.099000e+03,5.218000e+03,2022-09-16 00:00:00,2022-09-23 00:00:00,...,9.000000,17.000000,3.000000,260.000000,NaN,NaN,1.010834,1.467720e+05,720 days 00:00:00,23.000000
75%,NaN,263376.000000,NaN,290072.250000,NaN,NaN,1.120900e+04,1.141300e+04,2022-10-24 00:00:00,2022-11-01 00:00:00,...,10.000000,24.000000,4.000000,295.000000,NaN,NaN,1.030059,3.500840e+05,740 days 00:00:00,40.000000
max,NaN,312737.000000,NaN,375320.000000,NaN,NaN,2.300000e+07,2.541500e+07,2024-11-14 00:00:00,2025-10-27 00:00:00,...,12.000000,31.000000,6.000000,365.000000,NaN,NaN,3.164865,4.604111e+07,1137 days 00:00:00,252.000000
std,NaN,27354.200158,NaN,43431.469302,NaN,NaN,1.450355e+05,1.700307e+05,NaN,NaN,...,1.804521,9.204152,1.818450,54.261141,NaN,NaN,0.059372,1.359213e+06,161 days 12:45:23.601420468,30.410739

In [8]:
df[['due_date','total_amount_to_repay','amount_funded_by_lender','lender_portion_funded','lender_portion_to_be_repaid','pct_repay','target']].head(50)

,due_date,total_amount_to_repay,amount_funded_by_lender,lender_portion_funded,lender_portion_to_be_repaid,pct_repay,target
0,2022-09-06,8448.0,120.85,0.014305,121.0,1.000000,0.0
1,2022-08-06,25979.0,7768.50,0.300000,7794.0,1.003244,0.0
2,2024-09-13,7142.0,1380.00,0.200000,1428.0,1.035072,0.0
3,2022-10-27,9233.0,2687.40,0.300000,2770.0,1.030699,0.0
4,2022-12-05,4728.0,1369.20,0.300000,1418.0,1.035933,0.0
5,2022-10-26,4325.0,1297.50,0.300000,1298.0,1.000000,0.0
6,2022-12-06,6735.0,2020.50,0.300000,2021.0,1.000000,0.0
7,2022-11-01,1562.0,462.00,0.300000,469.0,1.014286,0.0
8,2022-10-18,21994.0,0.00,0.000000,0.0,1.023167,0.0
9,2022-08-22,18852.0,5655.60,0.300000,5656.0,1.000000,0.0
10,2022-08-23,4206.0,1217.70,0.300000,1262.0,1.036216,0.0
11,2022-08-31,12598.0,3779.40,0.300000,3779.0,1.000000,0.0
12,2022-11-24,7048.0,2114.40,0.300000,2114.0,1.000000,0.0
13,2022-10-10,6309.0,16.11,0.002632,17.0,1.030714,0.0
14,2022-11-01,1600.0,0.00,0.000000,0.0,1.000000,0.0
15,2022-09-29,11698.0,3509.40,0.300000,3509.0,1.000000,0.0
16,2022-10-01,16900.0,2560.00,0.160000,2704.0,1.056250,0.0
17,2022-07-11,14800.0,2240.00,0.160000,2368.0,1.057143,0.0
18,2022-09-05,4872.0,1439.70,0.300000,1462.0,1.015212,0.0
19,2022-09-30,480.0,144.00,0.300000,144.0,1.000000,0.0
20,2022-10-05,6874.0,2039.10,0.300000,2062.0,1.011329,0.0
21,2022-10-31,1649.0,0.00,0.000000,0.0,1.000000,0.0
22,2022-08-30,19723.0,5744.40,0.300000,5917.0,1.030029,0.0
23,2022-12-03,38990.0,1856.52,0.047615,1857.0,1.000000,0.0
24,2022-10-18,2527.0,752.70,0.300000,758.0,1.007174,0.0
25,2024-08-31,29166.0,5600.00,0.200000,5833.0,1.041643,0.0
26,2022-09-19,807.0,238.50,0.300000,242.0,1.015094,0.0
27,2022-11-16,1650.0,450.00,0.300000,495.0,1.100000,0.0
28,2022-09-05,2687.0,0.00,0.000000,0.0,1.000000,0.0
29,2022-11-16,2995.0,869.10,0.300000,899.0,1.033828,0.0
30,2022-10-13,4351.0,1277.70,0.300000,1305.0,1.021601,0.0
31,2022-10-21,67588.0,0.00,0.000000,0.0,1.000000,0.0
32,2022-09-14,2394.0,718.20,0.300000,718.0,1.000000,0.0
33,2022-12-01,1558.0,393.05,0.261510,407.0,1.036593,0.0
34,2022-10-06,3589.0,1069.50,0.300000,1077.0,1.006732,0.0
35,2022-11-05,2188.0,0.00,0.000000,0.0,1.000000,0.0
36,2023-10-06,33600.0,1400.00,0.046667,1568.0,1.120000,0.0
37,2022-10-06,8757.0,592.75,0.067689,593.0,1.000000,0.0
38,2022-11-23,6336.0,0.00,0.000000,0.0,1.010688,0.0
39,2022-10-07,6829.0,0.00,0.000000,0.0,1.011254,0.0
40,2022-10-06,4845.0,1421.40,0.300000,1454.0,1.022583,0.0
41,2022-08-11,3869.0,1160.70,0.300000,1161.0,1.000000,0.0
42,2022-10-15,6254.0,0.00,0.000000,0.0,1.012302,0.0
43,2022-07-22,4350.0,1305.00,0.300000,1305.0,1.000000,0.0
44,2022-11-12,2391.0,717.30,0.300000,722.0,1.000000,0.0
45,2022-10-24,19927.0,5800.20,0.300000,5978.0,1.030671,0.0
46,2022-11-03,5732.0,1698.90,0.300000,1720.0,1.012184,0.0
47,2022-09-19,9733.0,2884.80,0.300000,2920.0,1.012167,0.0
48,2022-09-22,16647.0,4846.20,0.300000,4994.0,1.030519,0.0
49,2022-08-01,10484.0,3145.20,0.300000,3145.0,1.000000,0.0

In [9]:
date_cols = [col for col in df.columns if 'date' in col]
for col in date_cols:
    df[col] = pd.to_datetime(df[col])

In [10]:
last_loan_day = max(df['disbursement_date'])
recency = df[['customer_id', 'total_amount','disbursement_date']]
recency['recency'] = last_loan_day - recency['disbursement_date']
rfm = recency.groupby('customer_id').agg({'total_amount':'sum','recency':'min'})
rfm = rfm.rename(columns={'total_amount':'monetary'})
frequency = df['customer_id'].value_counts()
frequency.name = 'frequency'
df = df.join(rfm, on='customer_id', how='left')
df = df.join(frequency, on='customer_id', how='left')

In [25]:
rfm

             monetary  recency
customer_id
145           14500.0 981 days
161           11025.0 304 days
166            5881.0 979 days
1487           7000.0 976 days
4534          50130.0 490 days
...               ...      ...
312631        19160.0   1 days
312651        23000.0   1 days
312654        10000.0  10 days
312696        49940.0   0 days
312737        30000.0   7 days

[7196 rows x 2 columns]

In [29]:
recency_pivot = df[~df['target'].isna()].groupby('recency')[['monetary','frequency','duration','target']].mean()
recency_pivot.tail(50)

# plt.figure(figsize=(15,15))

                monetary  frequency    duration    target
recency
975 days    40000.000000   1.000000   60.000000  0.000000
976 days    85372.727273   3.000000   15.454545  0.090909
977 days    21473.500000   1.000000   30.000000  0.000000
978 days     1355.000000   1.000000   30.000000  0.000000
979 days    52737.750000   2.500000   37.666667  0.333333
980 days    32934.166667   2.500000   22.000000  0.333333
981 days    29603.600000   1.400000   30.000000  0.400000
982 days     2595.000000   4.333333   30.000000  0.166667
983 days    19481.666667   1.000000   30.000000  0.333333
984 days    15362.428571   1.000000   30.000000  0.000000
985 days    27170.142857   1.571429   20.857143  0.285714
986 days    54203.555556   2.111111   19.333333  0.222222
987 days    43700.000000   1.600000   17.200000  0.400000
988 days   148500.000000   2.600000   14.000000  0.400000
989 days    55222.666667   1.000000   44.666667  0.333333
990 days    24200.000000   1.666667   14.000000  0.333333
993 days    16333.333333   2.500000   28.500000  0.500000
994 days   175133.333333   2.000000   19.333333  0.333333
995 days    13750.000000   1.000000   30.000000  0.666667
996 days   260000.000000   1.000000   90.000000  1.000000
997 days     1142.000000   1.000000   30.000000  0.000000
1000 days  124385.454545   6.090909   14.363636  0.363636
1001 days   36750.000000   1.500000   14.000000  0.500000
1002 days   15902.500000   1.500000   22.000000  0.750000
1003 days   10156.250000   1.250000   28.000000  0.375000
1004 days   34500.000000   2.000000    7.000000  0.000000
1007 days   40580.000000   1.400000   14.000000  0.800000
1010 days   29800.000000   1.000000   14.000000  1.000000
1011 days  750000.000000   1.000000  152.000000  0.000000
1013 days   15500.000000   1.000000   14.000000  1.000000
1014 days   38260.000000   1.000000   34.600000  1.000000
1015 days    8181.500000   1.000000   22.000000  0.000000
1016 days   22000.000000   1.000000   22.000000  1.000000
1017 days   18000.000000   1.000000   30.000000  0.000000
1018 days   37400.000000   1.000000   14.000000  1.000000
1021 days   38000.000000   2.000000   14.000000  0.500000
1022 days   11500.000000   1.000000   14.000000  0.000000
1023 days    4000.000000   1.000000   30.000000  0.000000
1036 days   10000.000000   1.000000   30.000000  1.000000
1044 days   16666.666667   1.666667   30.000000  0.666667
1050 days   10000.000000   1.000000   14.000000  0.000000
1073 days   10000.000000   1.000000   30.000000  0.000000
1077 days    9666.666667   1.000000   30.000000  1.000000
1078 days   10000.000000   1.000000   30.000000  1.000000
1080 days   10000.000000   1.000000   30.000000  1.000000
1086 days    9888.888889   1.000000   30.000000  0.888889
1087 days   10000.000000   1.000000   30.000000  1.000000
1092 days    5000.000000   1.000000   30.000000  1.000000
1094 days    1105.000000   1.000000   30.000000  0.000000
1137 days   10000.000000   1.000000   30.000000  0.000000

In [35]:
df[(df['new_versus_repeat']==1)&(df['frequency']>=1)&(df['target']==1)][['customer_id','loan_type','lender_id','duration','lender_portion_funded','monetary','frequency','target']]

,customer_id,loan_type,lender_id,duration,lender_portion_funded,monetary,frequency,target
105,257748,O,lender_C,30,1.0,10000.0,1,1.0
901,266502,B,lender_A,7,0.3,1500.0,1,1.0
1063,308490,H,lender_A,7,0.2,10000.0,2,1.0
1178,250504,O,lender_C,30,1.0,10000.0,1,1.0
1696,270330,B,lender_A,7,0.3,1878.0,1,1.0
...,...,...,...,...,...,...,...,...
66193,310612,H,lender_A,7,0.2,9740.0,2,1.0
67032,257750,O,lender_C,30,1.0,5000.0,1,1.0
67633,250503,O,lender_C,30,1.0,10000.0,1,1.0
67992,263379,B,lender_A,7,0.3,1900.0,1,1.0
68265,29290,O,lender_C,30,1.0,10000.0,1,1.0

In [23]:
recency['recency']

       customer_id  total_amount disbursement_date  recency
0           266671       8448.00        2022-08-30 807 days
1           248919      25895.00        2022-07-30 838 days
2           308486       6900.00        2024-09-06  69 days
3           266004       8958.00        2022-10-20 756 days
4           253803       4564.00        2022-11-28 717 days
...            ...           ...               ...      ...
18589       297596       1730.41        2023-02-09 644 days
18590       259715       1534.00        2022-08-04 833 days
18591       296701       1372.21        2022-06-23 875 days
18592       268271       5608.00        2022-08-23 814 days
18593       248929       4038.00        2022-08-22 815 days

[87248 rows x 4 columns]

In [18]:
df['frequency'].value_counts()

frequency
14    2464
16    2448
19    2394
15    2370
18    2214
      ...
85      85
81      81
80      80
78      78
67      67
Name: count, Length: 113, dtype: int64